*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  height: auto;
  font-family:Helvetica,sans-serif;
}
body
{
    background-color:#EDF2C5;
    width:1260px;
    height:880px;
      margin: 0 auto;
}

header{
  front-size:44px;
  front-family:Arial Black;
  width:271px;
  height:42px;
  color:#778A50;
  margin-top:53px;
  margin-bottom:8px;
  margin-left:160px;
  float: left;


}

#facebook{
  width:25px;
  height:25px;
  margin-left:468px;
  margin-top:53px;
  float: left;
}
#instagram{
  width:25px;
  height:25px;
  margin-left:10px;
  margin-top:53px;
  float: left;
}
#straight
{
  width:1px;
  height:25px;
  background-color:#778A50;
  float: left;
  margin-left:10px;
  margin-top:53px;
}
#login
{
  width:60px;
  height:25px;
  float: left;
  margin-left:10px;
  margin-top:53px;
    padding-top:5px;
  font-size:15px;
  color:#778A50;
  box-shadow: 0px 2px 6px 0px;
  text-align:center;
  font-family:Arial;
  font-weight: bold;
  border:1px solid #778A50;
  border-radius:3px;


}
#join
{
  width:50px;
  height:25px;
  float: left;
  margin-left:10px;

  margin-top:53px;
    padding-top:5px;
  font-size:15px;
  color:#778A50;
  box-shadow: 0px 2px 6px 0px;
  text-align:center;
  font-family:Arial;
  font-weight: bold;
  border:1px solid #778A50;
  border-radius:3px;
}



.title{
  color:#EDF2C5;
 font-size:16px;
 font-family:Arial Black;
}
nav {
  clear: both;
  width: 940px;
  height: 44px;
  background-color: #778a50;
  border-radius: 3px;
  margin-left:160px;
}
nav h3{
  font-family:Arial;
  font-size:16px;
  float:left;
  margin-top:16px;
  margin-left:30px;
  margin-right:60px;
  color:#edf2c5;
}
#pumpkin
{
  width:940px;
  height: 440px;
  clear: both;
  float: left;
  margin-left:160px;
  margin-top:20px;
}
#right-box{
  width:445px;
  height:45px;
  float:left;
  box-shadow:0px 2px 6px 0px;
  margin-top:30px;
  margin-left:50px;
  padding-left:30px;
  padding-top:14px;
  background-color:#778A50;
    border-radius:3px;
}
#left-box{
  width:445px;
  height:45px;
  clear: both;
  float:left;
  box-shadow:0px 2px 6px 0px;
  margin-top:30px;
  margin-left:160px;
  padding-left:30px;
padding-top:14px;
  background-color:#778A50;
  border-radius:3px;
}
#pepper{
  width:140px;
 height:140px;
clear:both;
 float:left;
 margin-left:160px;
 margin-top:15px;
}
#carrot{
  width:140px;
 height:140px;
 float:left;
 margin-left:12px;
 margin-top:15px;

}
#corn{
  width:140px;
 height:140px;
 float:left;
 margin-left:12px;
 margin-top:15px;

}
#word{
  width:445px;
 height:140px;
 float:left;
  margin-left:50px;
  margin-top:15px;
  background-color:#F7FBDA;
}
#word1{
  color:#7D7D7D;
    font-size:12px;
    margin:16px 15px;
    line-height: 1.33;
    font-family:Arial;
}
#line{
  background-color:#7D7D7D;
  width:414px;
 height:1px;
 margin:16px 15px;
}
.connect{
  color:#7D7D7D;
    font-size:12px;
    margin:16px 15px;
    line-height: 1.83;
    font-family:Arial;
}
footer
{
  width:100%;
  margin:0 auto;
  height:60px;
  background-color:#778A50;
  text-align:center;
  padding-top:24px;
  padding-bottom:25px;
  font-size:12px;
  font-family:Arial;
  color:#EDF2C5;
  margin-top:725px;
}
